:root {
  --font-heading: "Bruno Ace SC Regular", sans-serif;
  --font-text-main: "Ubuntu Mono Regular", sans-serif;
  --font-heading-main:"Bruno Ace Regular", sans-serif;
  --font-text-extra: "Ubuntu Condensed Regular",sans-serif;
  --color-border-bottom: #FCDDEC;
  --color-background: #0E001F;
  --color-main: #E42493;
  --color--background--extra: #231A2E;
}

html {
  font-family: "Bruno Ace SC Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
input:focus {
  outline: none;
}
